


<div class="shows">
  <div class="card" style="width: 18rem;">
  <div class="card-header">
    Ingredient of <%= @cocktail.name %>
  </div>
  <ul class="list-group list-group-flush">
      <% @cocktail.doses.each do |dose| %>

    <li class="list-group-item"><%= dose.ingredient.name %> : <%= dose.description %> <%= link_to "X",
            dose_path(dose), class:"text-right",
            method: :delete,
            data: { confirm: "Are you sure?" }%></li>
    <% end %>
  </ul>
</div>









<%= link_to 'Add Ingredients/Doses', new_cocktail_dose_path(@cocktail) %>

</br>
<%= link_to "Edit", edit_cocktail_path %>
</br>

<%= link_to "Go back to index", cocktails_path %>

</div>
